body {
  background-color: black;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  }

  .logo-container {
    width: 80%;
    margin-left: 40%;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 50%;
  }

  .login-container {
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-decoration: none;
    color: white;
  }

  .login-container a {
    text-decoration: none;
    color: white;
  }

  .nav-links {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 10px;
  }

  .starship-list {
    color: white;
    list-style: none;
    
  }

.text {
    color: white;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15%;
  }

  .list-rows {
    border: blue solid;
    width: 100%;
  }

  .starship-list{
    background-color: #151515;
    padding: 20px;
  }

  .list-name {
    color: #AAAAAA;
    font-size: large;
    font-weight: bold;
    margin: 5px 0;
  }

  .list-model {
    color: #AAAAAA;
    font-size: normal;
    font-weight: normal;
  }

  